<ion-header>

  <ion-navbar>
    <ion-title>Vacancies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>Early Childhood Coordinator - The Hive Mt Druitt 2.0</h2>
      <p><em>Closing Date:</em> 09 Jun 2017</p>
      <p><em>Applicants:</em> 7 &nbsp;<em>Interviewees:</em> 5 </p>
      <button ion-button default item-end (click)="goToScoreInterviewsPage()">Score</button>
    </ion-item>
    <ion-item>
      <h2>Social Impact Analyst</h2>
      <p><em>Closing Date:</em> 24 Jun 2017</p>
      <p><em>Applicants:</em> 3 &nbsp;<em>Interviewees:</em> 3 </p>
      <button ion-button default item-end (click)="goToScoreInterviewsPage()">Score</button>
    </ion-item>
    <ion-item>
      <h2>The Hive Facilitator</h2>
      <p><em>Closing Date:</em> 12 Jul 2017</p>
      <p><em>Applicants:</em> 8 &nbsp;<em>Interviewees:</em> 8 </p>
      <button ion-button default item-end (click)="goToScoreInterviewsPage()">Score</button>
    </ion-item>

  </ion-list>
</ion-content>
