<ion-header>
  <ion-navbar>
    <ion-title>HR5 Offline Scoring</ion-title>
  </ion-navbar>  
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button (click)="goToVacanciesPage()">View Vacancies</button>
        <button ion-button>View Assessments</button>    
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
