<ion-header>

  <ion-navbar>
    <ion-title>Score Interviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Choose Applicant</ion-label>
    <ion-select [(ngModel)]="applicant" submitText="Select" cancelText="Cancel">
      <ion-option value="1">Deb Ennis</ion-option>
      <ion-option value="2">Don Carter</ion-option>
      <ion-option value="3">John Draper</ion-option>
    </ion-select>
  </ion-item>
  <ion-item [ngSwitch]="applicant">
    <p>You are scoring: <strong>Deb Ennis</strong></p>
  </ion-item>
  <br>
  <div class="scoring">
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="competencies">
        Competencies
      </ion-segment-button>
      <ion-segment-button value="attributes">
        Attributes
      </ion-segment-button>
    </ion-segment>
  </div>
  <br>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'competencies'">
      <div class="row header">
        <div class="col">Competency</div>
        <div class="col">Level</div>
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'attributes'">
      <div class="row header">
        <div class="col">Competency</div>
        <div class="col">Level</div>
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Relationship Building</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col"><h3>Innovation</h3></div>
        <div class="col"><h3>E</h3></div>
        <div class="col">
          <ion-item>
            <ion-label>Score</ion-label>
            <ion-select interface="action-sheet">
              <ion-option value="NA">N/A</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="A">A</ion-option>
              <ion-option value="A+">A+</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="C+">C+</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="D+">D+</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="a-">E+</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>
